/* Personalización de estilos */
body {
    background-color: #f5f5f5;
}
.header {
    background-color: #1976D2;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.slogan {
    margin-top: 20px;
    text-align: center;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.right-image {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

 /* Estilo para los iconos */
 .action-icon {
    font-size: 1.5rem; /* Tamaño del icono */
    margin-right: 5px; /* Espaciado entre iconos */
}
/* Imagen en la tabla */
.user-image {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}